@{
    ViewData["Title"] = Localizer["Main"];
}
@inject IViewLocalizer Localizer

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <h6>@Localizer["HomeTitle"]</h6>
    <hr />

    <p id="text"></p>
    <div class="row align-items-center">
        <div id="surface" class="col-md-8 vh-75">
        </div>
        <div class="col-md offset-1">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item m-1">
                    <a class="shadow nav-link" href="@Url.Action("Index", "MyTask")">@Localizer["DoTask"]</a>
                </li>
                <li class="nav-item  m-1">
                    <a class="shadow nav-link" href="@Url.Action("SolveTask")">@Localizer["AnySurface"]</a>
                </li>
                <li class="nav-item  m-1">
                    <a class="shadow nav-link" href="@Url.Action("Index", "Analytics")">@Localizer["ResultsAnalisys"]</a>
                </li>
            </ul>
        </div>
    </div>
</div>

@section scripts
{
    <script>

        $(document).ready(function () {
            $.ajax({
                url: "@Url.Action("InitData")",
                type: "get",

                success: function (data) {
                    let layout = {
                        title: '@Localizer["SurfaceSample"]',
                        scene: { camera: { eye: { x: -1.17, y: -1.18, z: 1.18 } } },
                        autosize: true,
                        margin: {
                            l: 55,
                            r: 65,
                            b: 45,
                            t: 70,
                        }
                    };
                    Plotly.newPlot('surface', [{
                        z: JSON.parse(data),
                        type: 'surface',
                        contours: {
                            z: {
                                show: true,
                                usecolormap: true,
                                highlightcolor: "#41f461",
                                project: { z: true }
                            }
                        }
                    }], layout);

                    $('#chart').fadeIn(300).show();

                },
            });
        });
    </script>
}

