
@{
    Layout = null;
}

@model AnalyticsResultViewModel

<br />
<p class="display-4">Сравнение завершено</p>
<hr />
<div class="row">
    <div class="col-md-8 shadow">
        <h6>Площадь поверхности:<small> (метод трапеций)</small></h6>
        <h5>@string.Format("{0:f3}", Model.ApproximateResult.Result)</h5>
    </div>
    <div class="col-md offset-1">
        <h6>Время обработки:</h6>
        <h5>@Model.ApproximateResult.Description</h5>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-8 shadow">
        <h6>Точная площадь поверхности:<small> (мат. пакет)</small></h6>
        <h5>@string.Format("{0:f3}", Model.ExactArea)</h5>
    </div>
    <div class="col-md offset-1">
        <h6>Математический пакет</h6>
        <h5>Python Numpy</h5>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-8 shadow">
        <h6>Абсолютная погрешность:<small> (ед.)</small></h6>
        <h5>@string.Format("{0:f3}", Model.AbsoluteAccuracy)</h5>
    </div>
    <div class="col-md offset-1">
        <h6>Относительная погрешность:<small> (%)</small></h6>
        <h5>@string.Format("{0:f3} %", Model.RelativeAccuracy)</h5>
    </div>
</div>

<hr />
<h6>Также вы можете</h6>
<hr />
<div class="row">
    <div class="col-md">
        <button class="btn-sm btn-outline-danger timeChart">Построить график зависимости времени от кол-ва потоков</button>
    </div>
    <div class="col-md">
        <button class="btn-sm btn-outline-info accuracyChart">Построить график зависимости погрешности от кол-ва потоков</button>
    </div>
</div>